@import url("https://fonts.cdnfonts.com/css/lucida-handwriting-std");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Open+Sans:wght@300;400;700&family=Shrikhand&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Open+Sans:wght@300;400;700&family=Shrikhand&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
.main {
  /* border:1px solid black; */
  height: 80vh;
  width: 90vw;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border-radius: 1rem;
  /* border: 1px solid red; */
  box-shadow: 0 2px 10px rgba(181, 181, 181, 0.785);
  color:rgba(0, 0, 0, .6);
}
.main-image{
  height: 90%;
}
.main .main-image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
 
}
/* .position {
  position: relative;
} */
.slogan {
  /* border: 1px solid var(--blue); */

  width: 100%;
  /* position: absolute; */
  
  border-radius: 10px;
  height: 4rem;
  padding: 1rem;
  line-height: 2rem;
  
  /* left: 7rem; */
  font-size: 1.5rem;
  /* color: var(--blue); */
  font-family: "Lugrasimo";
  letter-spacing: 2px;
  font-weight: bold;
  /* text-shadow: 1px 1px 2px rgb(9, 9, 9); */
  text-align: center;
  /* box-shadow: 0 2px 10px rgba(181, 181, 181, 0.785); */
  /* text-transform: uppercase; */
}
.slogan span {
  color: var(--blue);
}



.mainSection {
  margin-top: 5rem;
}
.mainSection .mainImage {
  height: 100%;
  width: 100%;
}
.mainSection .mainImage img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .slogan {
    
    
    height: fit-content;
    margin: 0 auto;
    
    margin: 0 auto;
    text-align: center;
    border-radius: unset;
    font-size: unset;
  }
  .main {
    height:80vh;
    /* border: 1px solid red; */
  }
  .main .main-image{
    height: 83%;
  }
}
